@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

body {
  background-color: seashell;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0;
}
#title {
  text-align: center;
  color: goldenrod;
  font-size: 5vw;
  text-decoration: underline rgba(124, 124, 124, 0.75);
  margin-bottom: 0;
  margin-top: 4vw
}
#userActionForm {
  margin: auto;
  margin-top: 4vw;
  display: flex;
  justify-content: center;
  width: 80vw;
  font-size: 2vw;
}
#userAction,
.userInput,
#submit {
  height: 3vw;
  border: solid goldenrod;
  font-size: inherit;
  padding: 0.3vw;
  border-width: 0.2vw;
  /* the following ensures they're all using the same box-model for rendering */
  -moz-box-sizing: content-box; /* or `border-box` */
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#userAction {
  width: 15vw;
  text-align: center;
  background-color: goldenrod;
  color: seashell;
  font-weight: bold;
  border-radius: 1.5vw 0px 0px 1.5vw;
}
#userAction:focus {
  outline: none;
}
.options {
  background-color: rgb(160,156,156);
}

#inputNameOrId {
  width: 50vw;
}
/* #inputPhoneNumber {
    border-left: solid;
} */

/* custom floating label start */
.floatingLabel {
  position: relative;
}
.userInputLabel {
  position: absolute;
  visibility: hidden;
  top: 0.7vw;
  left: 0.7vw;
  color: rgb(124, 124, 124);
}
.userInput {
  width: 25vw;
  border-width: 0.2vw 0 0.2vw 0;
  padding-left: 0.7vw;
  color: rgb(124, 124, 124);
}
.userInput:focus {
  outline: none;
  height: 1.9vw !important;
  padding-top: 1.4vw;
}
.userInput::placeholder {
  color: rgb(124, 124, 124);
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 2vw;
}
.userInput:focus::placeholder {
  color: transparent;
}
.floatingLabel:focus-within .userInputLabel {
  transition: 0.5s;
  visibility: visible;
  font-size: 1vw;
  top: 0.3vw;
  left: 0.7vw;
  color: goldenrod;
}
.userInput:not(:placeholder-shown) + .userInputLabel {
  visibility: visible;
  font-size: 1vw;
  top: 0.3vw;
  left: 0.7vw;
  color: goldenrod;
}

.userInput:not(:placeholder-shown) {
  height: 1.9vw !important;
  padding-top: 1.4vw;
}
/* custom floating label end */
#submit {
  width: 15vw;
  background-color: goldenrod;
  color: seashell;
  font-weight: bold;
  border-radius: 0px 1.5vw 1.5vw 0px;
}
#submit:hover {
  background-color: rgb(124, 124, 124);
}

/* table styling */
/* #tableBorder {
  border: solid goldenrod;
  border-radius: 1.5vw;
  height:min-content;
  margin: auto;
  margin-top: 50px;
  width: 80vw;
} */
#phonebook {
  margin: auto;
  margin-top: 5vw;
  border-collapse: collapse;
  width: 80vw;
}
#phonebook > thead {
  background-color: goldenrod;
  font-size: 2vw;
  color: seashell;
  margin: 0;
  text-align: left;
}
#phonebook > tbody {
  font-size: 1.5vw;
}
#phonebook > thead > tr > th{
    height: 4vw;
 padding-left: 2vw;
}
#phonebook > thead > tr > th:first-child {
  border-top-left-radius: 1.5vw;
}
#phonebook > thead > tr > th:last-child {
  border-top-right-radius: 1.5vw;
}
#phonebook > tbody > tr:last-child > td:first-child {
  border-bottom-left-radius: 1.5vw;
}
#phonebook > tbody > tr:last-child > td:last-child {
  border-bottom-right-radius: 1.5vw;
}
#phonebook > tbody > tr:nth-child(even) {
  /* background-color: rgba(218, 165, 32, 0.8); */
  background-color: seashell;
  background-color: rgba(124, 124, 124, 0.75);
  color: seashell

}
#phonebook > tbody > tr:nth-child(odd) {
  background-color: rgba(124, 124, 124, 0.65);
    
    /* color:rgb(124, 124, 124) */
    color: goldenrod
}
.tableElem{
    height: 3vw;
    padding-left: 2vw;
    color: seashell;
}
